<div class="txt">
  <div class="bio-text">
    <p><ol><li>Escribe aquí tu contenido <b><i><u>enriquecido...</u></i></b></li></ol><b><i><u>aerg</u></i></b></p><h1><b><i><u>dhgj</u></i></b></h1><blockquote><b><i><u>dfg</u></i></b></blockquote><blockquote><i style=""><u style=""><b>ghbl</b></u></i></blockquote>
  </div>
</div>