---
---
<div class="terminal">
  <div class="header">
    <h1 class="title">Code redesigned</h1>
    <p class="subtitle">We are in class</p>
  </div>
  
  <div class="divider"></div>
  
  <div class="content">
    <div class="column">
      <h2>Hello! That's me!</h2>
      <a href="https://inled.es/" class="command">cd me</a>
    </div>
    
    <div class="column-divider"></div>
    
    <div class="column">
      <h2>estoy buscando trabajo</h2>
      <a href="https://www.virustotal.com/gui/home/upload" class="command">open work.es</a>
    </div>
    
    <div class="column-divider"></div>
    
    <div class="column">
      <h2>Este es mi LinkedIN</h2>
      <a href="https://es.linkedin.com/" class="command">lynx https://es.linkedin.com/</a>
    </div>
  </div>
</div>