---
---
<div class="terminal">
    <div class="header">
        <h1 class="title">Code, revived</h1>
        <p class="subtitle">Dream code, make apps</p>
    </div>
    
    <div class="divider"></div>
    
    <div class="content">
        <div class="column">
            <h2>News</h2>
            <a href="/code" class="command">cd /news</a>
        </div>
        
        <div class="column-divider"></div>
        
        <div class="column">
            <h2>Hello! This is me.</h2>
            <a href="/sobremi" class="command">nano thisisme.txt</a>
        </div>
        
        <div class="column-divider"></div>
        
        <div class="column">
            <h2>This is my LinkedIN</h2>
            <a href="https://es.linkedin.com" class="command">open https://es.linkedin.com/</a>
        </div>
    </div>
</div>