---
---
<div class="txt">
    <div class="bio-text">
        Hola, soy Juan Urtzague Rexina y
        desarrollo frontend.
        Comencé a trabajar en Adevinta y
        luego me pasé a Indra, donde las
        pasé canutas.
        Además trabajé también para el
        GNOME Circle y como desarrollador
        de aplicaciones para GTK.
        Me considero un desarrollador con
        gran capacidad de constuir ideas
        complejas en ideas simples.
    </div>
</div>